* {
  padding: 0px;
  margin: 0px;
}

body {
  background: whitesmoke;
  font-family: "Quicksand", serif;
  width: 90%;
  margin: 10px auto;
}

/* therms  */
.orange-yellow {
  color: #fea301;
}
.sky-blue {
  color: #01acfd;
}
.cyan-blue {
  color: #05d4df;
}
.purple-magenta {
  color: #8700ff;
}
.footer-color {
  color: #01acfd;
}

/* header */
.header-wd {
  width: 1210px;
  margin: 20px auto;
}

/* nav-desktop */
.nav-bar-wd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo-text */
.logo-text {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 12px;
  color: #111;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}

.nav-bar-wd-tab {
  display: flex;
  gap: 32px;
  text-decoration: none;
}
.nav-bar-wd-tab > a {
  text-decoration: none;
}
.nav-bar-wd-tab > a > li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.contact-btn {
  display: flex;
  width: 197px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #fea301;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
}

/* <!-- sm devices media and icons --> */
.sm-devices {
  display: none;
}

/* banner-container */

.banner-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.banner-title-text {
  width: 640px;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
}
.banner-dis-text {
  width: 640px;
  color: #111;
  font-size: 20px;
  font-weight: 400;
  margin: 24px 0;
}

.enroll-btn {
  display: flex;
  width: 197px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #000000;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
}

/* main wd */

.main-wd {
  width: 1210px;
  margin: 20px auto;
}

/* standard-Container */
.standard-Container {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-image: url("assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 60px auto 60px auto;
}

.standard-title {
  color: #000;
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
}

.standard-main-cards-container {
  margin-top: 80px;
  display: flex;
  gap: 28px;
}

.all-card-same {
  display: flex;
  width: 285px;
  height: 476.784px;
  padding: 52.819px 40.668px 53.762px 40.878px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32.069px;
  flex-shrink: 0;
  border-radius: 18.864px;
  border: 0.943px solid #def5ff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.first-card {
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
.second-card {
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
.third-card {
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}

.card-title-text {
  color: #202020;
  text-align: center;
  font-size: 24.523px;
  font-style: normal;
  font-weight: 700;
  line-height: 30.654px; /* 125% */
}
.card-dis-text {
  color: #808080;
  text-align: center;
  font-family: Raleway;
  font-size: 15.091px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.296px; /* 187.5% */
  margin: 32px auto;
}

.read-more {
  text-align: center;
  font-family: Quicksand;
  font-size: 15.091px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.296px; /* 187.5% */
}

/* arrow-container */
.arrow-container {
  display: flex;
  margin-top: 80px;
  gap: 15px;
  font-size: 24px;
  color: white;
}
.arrow-box {
  height: 60px;
  width: 60px;
  background-color: #fea301;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
/* our-stories sections */
.our-stories-container {
  background-image: url("assets/bg.png"),
    linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 1210px;
  margin: 0px auto;
  padding: 30px;
}

.stories-cards-container {
  display: flex;
  justify-content: space-between;
}

.our-stories-title-text {
  margin: 60px auto;
  color: #000;
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
}

/* our stories grid cards sections */
/* .stories-cards-container{
  display: flex;
} */

.big-card {
  width: 545px;
  height: auto;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  /* padding: 16px; */
}

.big-card {
  text-align: center;
}

.big-card-img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}

.big-card-texts {
  padding: 38px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.big-card-title {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 38.347px;
}
.big-dis-title {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #666;
}

.big-card-btn {
  position: absolute;
  display: flex;
  width: 180px;
  height: 30px;
  padding: 14.38px 18.876px 15.339px 19.174px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  background: #3cd8e8;
  margin-top: -75px;
}

.big-card-btn-text {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.761px; /* 187.5% */
  text-transform: capitalize;
}

.small-card-container-main-one {
  /* display: flex; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 8px;
}

/* small-cards-container */
.small-cards-container {
  height: 300px;
}

.small-card-img {
  border-radius: 5px;
  text-align: center;
}

.small-card {
  width: 290px;
  height: 280px;
  background-color: white;
  padding: 10px;
  border-radius: 2px;
}

.small-card-title {
  color: #000;
  font-size: 15.339px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.761px; /* 187.5% */
  padding: 16px;
}

.small-card-btn {
  position: absolute;
  padding: 16px;
  margin-top: -115px;
  margin-left: 20px;
  display: flex;
  width: 120px;
  height: 20px;
  padding: 10px 20px 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 47.934px;
  background: #95b226;
}

.small-card-btn-text {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 28.761px;
  text-transform: capitalize;
}

.small-card-small-devices {
  display: none;
}

/* mobile devices -----------------------*/
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */

@media only screen and (max-width: 576px) {
  /* 
 body{
  margin: 10px auto;
  width: 80%;
 } */

  .header-wd {
    width: 360px;
  }

  /* nav-desktop */
  .nav-bar-wd {
    font-size: 24px;
    margin: 20px auto 30px auto;
  }

  .logo-text {
    font-size: 24px;
    line-height: 28px;
  }

  .nav-bar-wd-tab {
    display: none;
  }

  .nav-bar-wd-tab > a > li {
    font-size: 18px;
  }

  .contact-btn {
    display: none;
  }

  .sm-devices {
    display: block;
  }

  /* banner-container */
  .banner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
  }

  .banner-image {
    width: 350px;
  }

  .banner-title-text {
    width: 320px;
    font-size: 32px;
    line-height: normal;
    text-align: center;
    margin: 20px auto 0px auto;
  }
  .banner-dis-text {
    width: auto;
    font-size: 16px;
    font-weight: 400;
    margin: 20px auto;
    text-align: center;
  }

  .enroll-btn {
    margin: 0px auto;
  }

  .main-wd {
    width: 360px;
  }

  /* standard section */

  .standard-Container {
    margin: 40px auto 40px auto;
  }
  .standard-title {
    font-size: 30px;
    font-weight: 900;
  }

  .standard-main-cards-container {
    margin-top: 40px;

    gap: 28px;
    flex-direction: column;
  }

  .all-card-same {
    width: 220px;
    height: auto;
    padding: 28px;
  }

  .arrow-container {
    display: none;
  }

  /* our-stories sections */
  .our-stories-container {
    width: 360px;
  }

  .our-stories-title-text {
    margin-top: 24px;
    font-size: 30px;
    font-size: 900;
  }
  .our-stories-container {
    padding: 0px;
  }

  .big-card {
    display: none;
  }

  .small-card-container-main-one {
    display: none;
  }

  .small-card-small-devices {
    display: contents;
  }

  .small-card-d {
    width: 150px;
    background-color: #fff;
    padding: 10px;
  }

  .small-card-img-d {
    width: 150px;
    text-align: center;
  }

  .small-card-title-d {
    color: #000;
    font-size: 8px;
    font-weight: 700;
    line-height: 17.125px; /* 187.5% */
  }
}

/* .none {
  display: none;
}


.green{
  background-color: green;
}

.pink{
  background-color: pink;
} */
